global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'spring-boot'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets:
          - 'api-gateway:8080'
          - 'user-service:8083'
          - 'restaurant-service:8082'
          - 'order-service:8081'
          - 'eureka-server:8761'
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance