server:
  port: 8083

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: user_db
    password: user_db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: "mysecretkeymysecretkeymysecretkeymysecretkeymysecretkeymysecretkey"
  expiration: 86400000

logging:
  level:
    org.flywaydb: DEBUG
    org.hibernate.SQL: DEBUG
    com.example.userservice: DEBUG