server:
  port: 8081

spring:
  application:
    name: order-service
datasource:
  url: jdbc:postgresql://postgres:5432/order_db
  username: order_db
  password: order_db
  driver-class-name: org.postgresql.Driver
jpa:
  hibernate:
    ddl-auto: validate
  show-sql: true
flyway:
  enabled: true
  locations: classpath:db/migration
data:
  redis:
    host: redis
    port: 6379
    password: redis123
rabbitmq:
  host: rabbitmq
  port: 5672
  username: admin
  password: admin123

jwt:
  secret: "mysecretkeymysecretkeymysecretkeymysecretkeymysecretkeymysecretkey"
  expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@eureka-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.example.orderservice: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always