server:
  port: 8081

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://postgres:5432/order_db
    username: order_db
    password: order_db
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: redis
      port: 6379
      password: redis123
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin123

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: order-service
    prefer-ip-address: false