server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      httpclient:
        connect-timeout: 1000
        response-timeout: 5s

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

jwt:
  secret: "mysecretkeymysecretkeymysecretkeymysecretkeymysecretkeymysecretkey"

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.example.apigateway: DEBUG