server:
  port: 8082

spring:
  application:
    name: restaurant-service
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurant_db
    username: restaurant_db
    password: restaurant_db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/

logging:
  level:
    org.flywaydb: DEBUG
    org.hibernate.SQL: DEBUG
    com.example.restaurantservice: DEBUG